@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald";
	scroll-behavior: smooth;
}

.gray {
	background: rgb(237, 237, 237);
}
.wrapper {
	display: flex;
}
.row {
	display: flex;
	min-width: 100%;
	margin-bottom: 20px;
}
.col-2 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col-3 {
	flex: 0 0 33.33%;
	max-width: 33.33%;
}
.col-4 {
	flex: 0 0 25%;
	max-width: 25%;
}
.col-5 {
	flex: 0 0 20%;
	max-width: 20%;
}
nav {
	position: fixed;
	min-height: 100vh;
	top: 0;
	left: 0;
	width: 25%;
	background: #101010;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	justify-content: space-between;
	transition: left .5s ease-in-out;
	opacity: 1;
	.nav-title {
		text-align: center;
		h1 {
			font-size: 40px;
			letter-spacing: 5px;
			font-weight: 500;
		}
		h2 {
			font-size: 12px;
			letter-spacing: 5px;
			font-weight: 200;
			color: rgb(137, 137, 137);
		}
	}
	.links {
		ul {
			li {
				list-style: none;
				line-height: 50px;
				border-bottom: 1px solid rgb(30, 30, 30);
				transition: 1s;
				a {
					text-decoration: none;
					color: rgb(137, 137, 137);
					transition: .8s;
				}
				&:hover {
					a {
						color: #fff;
					}
					transform: translateX(20px);
				}
			}
		}
	}
	.social-credits {
		ul {
			display: flex;
			justify-content: center;
			gap: 15px;
			li {
				list-style: none;
				transition: .5s;
				a {
					text-decoration: none;
					color: #fff;
				}
				&:hover {
					transform: translateY(-10px);
				}
			}
		}
	}
}
main {
	width: 100%;
	min-height: 100vh;
	.intro {
		position: relative;
		min-height: 100vh;
		background: url(../img/bg2.jpg);
		background-attachment: fixed;
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		.intro-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #fff;
			h1 {
				font-size: 90px;
				line-height: 90px;
			}
			p {
				font-size: 15px;
				letter-spacing: 5px;
				font-weight: 200;
			}
		}
	}
}
section {
	min-height: 100vh;
	max-width: 100%;
	margin-left: 25%;
	padding: 20px 35px;

	.section-heading {
		margin: 40px 0;
		p {
			font-size: 15px;
			font-weight: 300;
			letter-spacing: 5px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}	
		h2 {
			font-size: 35px;
			font-weight: 500;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
	}
}
.projects {
	.projects-container {
		display: flex;
		flex-wrap: wrap;
		.projects-item-container {
			height: 300px;
			padding: 10px 0px 10px 0;
			.project-item {
				position: relative;
				max-width: 100%;
				background: yellow;
				// border-radius: 10px;
				cursor: pointer;
				margin-right: 20px;
				.project-img {
					display: flex;
					height: 300px;
					img {
						width: 100%;
						object-fit: cover;
						object-position: center;
						// border-radius: 10px;
						display: block;
					}
				}
				.project-overlay {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					padding: 20px;
					background: rgba(0, 0, 0, 0.847);
					color: #fff;
					opacity: 0;
					transition: .5s;
					// border-radius: 10px;
				}
				&:hover {
					.project-overlay {
						opacity: 1;
					}
				}
			}
		}
	}
}

.about .row .about-text {
	padding: 10px 30px 10px 30px;
	h3 {
		margin: 15px 0;
		font-size: 30px;
		color: rgb(79, 79, 79);
	}
	p {
		font-weight: 200;
	}
}

.about-img {
	img {
		width: 100%;
	}
}

.team .row, .blog .row {
	max-width: 100%;
	justify-content: center;
}

.team-item, .blog-item {
	padding: 10px 25px 10px 0;
}

.team-item-img, .blog-item-img {
	img {
		width: 100%;
	}
}

.blog-item-text {
	background: #fff;
	padding: 30px 20px 50px 20px;
	.date, .desc {
		font-weight: 200;
		letter-spacing: 1px;
	}
	.date {
		margin-bottom: 5px;
		font-size: 12px;
	}
	h4 {
		margin: 20px 0;
		font-size: 20px;
	}
	.desc {

	}
}

@media (max-width: 1200px) {
	main {
		display: flex;
		flex-direction: column;
		.intro {
			min-height: 100vh;
			max-width: 100%;
			background-size: cover;
			top: 0;
			left: 0;
		}
	}
	.row {
		flex-wrap: wrap;
		gap: 20px;
	}
	.projects-item-container {
		flex-direction: column;
	}
	.col-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 980px) {
	nav {
		left: -100%;
	}
	section {
		margin-left: 0;
	}
}
