@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
  scroll-behavior: smooth;
}

.gray {
  background: #f3f3f3;
}

.wrapper {
  display: flex;
}

.row {
  display: flex;
  min-width: 100%;
  margin-bottom: 20px;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-3 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

input, textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 40px;
  background: #525252;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
  transition: 1s;
}
.btn:hover {
  background: #101010;
}

nav {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 25%;
  background: #101010;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  justify-content: space-between;
  transition: left 0.5s ease-in-out;
  opacity: 1;
}
nav .nav-title {
  text-align: center;
}
nav .nav-title h1 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 500;
}
nav .nav-title h2 {
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 200;
  color: rgb(137, 137, 137);
}
nav .links ul li {
  list-style: none;
  line-height: 50px;
  border-bottom: 1px solid rgb(30, 30, 30);
  transition: 1s;
}
nav .links ul li a {
  text-decoration: none;
  color: rgb(137, 137, 137);
  transition: 0.8s;
}
nav .links ul li:hover {
  transform: translateX(20px);
}
nav .links ul li:hover a {
  color: #fff;
}
nav .social-credits ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav .social-credits ul li {
  list-style: none;
  transition: 0.5s;
}
nav .social-credits ul li a {
  text-decoration: none;
  color: #fff;
}
nav .social-credits ul li:hover {
  transform: translateY(-10px);
}

main {
  width: 100%;
  min-height: 100vh;
}
main .intro {
  position: relative;
  min-height: 100vh;
  background: url(../img/bg2.jpg);
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
main .intro .intro-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
main .intro .intro-content h1 {
  font-size: 90px;
  line-height: 90px;
}
main .intro .intro-content p {
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 200;
}

section {
  min-height: 100vh;
  max-width: 100%;
  margin-left: 25%;
  padding: 20px 70px;
  position: relative;
}
section .section-heading {
  margin: 40px 0;
}
section .section-heading p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
section .section-heading h2 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.projects .projects-container {
  display: flex;
  flex-wrap: wrap;
}
.projects .projects-container .projects-item-container {
  height: 300px;
  padding: 10px 0px 10px 0;
}
.projects .projects-container .projects-item-container .project-item {
  position: relative;
  max-width: 100%;
  background: yellow;
  cursor: pointer;
  margin-right: 20px;
}
.projects .projects-container .projects-item-container .project-item .project-img {
  display: flex;
  height: 300px;
}
.projects .projects-container .projects-item-container .project-item .project-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
.projects .projects-container .projects-item-container .project-item .project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 25px;
  background: rgba(0, 0, 0, 0.847);
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}
.projects .projects-container .projects-item-container .project-item .project-overlay h3 {
  font-size: 35px;
  font-weight: 400;
}
.projects .projects-container .projects-item-container .project-item .project-overlay p {
  font-weight: 200;
  letter-spacing: 2px;
}
.projects .projects-container .projects-item-container .project-item:hover .project-overlay {
  opacity: 1;
}

.about .row .about-text {
  padding: 10px 30px 10px 30px;
}
.about .row .about-text h3 {
  margin: 15px 0;
  font-size: 30px;
  color: rgb(79, 79, 79);
}
.about .row .about-text h4 {
  color: rgb(148, 148, 148);
  font-weight: 300;
  letter-spacing: 3px;
}
.about .row .about-text p {
  font-weight: 200;
}

.about-img, .service-img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.about-img img, .service-img img {
  width: 100%;
  display: block;
}

.team .row, .blog .row, .contact .row {
  max-width: 100%;
  justify-content: center;
}

.team-text p {
  margin-top: 30px;
  font-weight: 200;
  font-size: 18px;
  max-width: 60%;
  text-align: center;
}

.team-item, .blog-item, .contact-item {
  padding: 10px 25px 10px 0;
}

.team-item-img, .blog-item-img {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.team-item-img img, .blog-item-img img {
  width: 100%;
  display: block;
}

.team-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(26, 26, 26, 0.817);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}
.team-item .overlay h3 {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
}
.team-item .overlay .team-social {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.team-item .overlay .team-social a ion-icon {
  color: #fff;
  font-size: 18px;
}
.team-item .overlay:hover {
  opacity: 1;
}

.blog-item-img {
  overflow: hidden;
}
.blog-item-img img {
  transition: 0.5s;
}
.blog-item-img:hover img {
  transform: scale(1.05);
  filter: grayscale(1);
}

.blog-item-text {
  background: #fff;
  box-shadow: rgba(60, 60, 60, 0.068) 0px 20px 25px -5px, rgba(33, 33, 33, 0.04) 0px 10px 10px -5px;
  padding: 30px 30px 50px 30px;
}
.blog-item-text .date, .blog-item-text .desc {
  font-weight: 200;
  letter-spacing: 1px;
}
.blog-item-text .date {
  margin-bottom: 5px;
  font-size: 12px;
}
.blog-item-text h4 {
  margin: 20px 0;
  font-size: 20px;
}

.contact-item h4 {
  margin: 15px 0;
}
.contact-item p {
  font-weight: 200;
  padding: 0 100px 0 0;
}

footer {
  margin-left: 25%;
  height: 200px;
  background: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: rgb(72, 72, 72);
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
  }
  main .intro {
    min-height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
  }
  .row {
    flex-wrap: wrap;
    gap: 20px;
  }
  .projects-item-container {
    flex-direction: column;
  }
  .col-2, .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .row .about-text {
    text-align: center;
  }
}
@media (max-width: 980px) {
  nav {
    left: -100%;
  }
  section, footer {
    margin-left: 0;
  }
  .contact-item p {
    padding: 0;
  }
  .team-text p {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */